<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.raghav.instaclone">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:appComponentFactory="whateverString"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:appComponentFactory">
        <activity
            android:name="Home.HomeActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name="Likes.LikesActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name="Profile.ProfileActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name="Share.ShareActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name="Share.ShareActivityProfilePhoto"
            android:launchMode="singleInstance" />
        <activity
            android:name="Share.NextActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name="Login.LoginActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="Profile.AccountSettingsActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name="Login.RegisterActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name="Home.Chat"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name="Home.AttachActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name="FilePicker.Filepicker"
            android:launchMode="singleInstance" />
        <!--
        <activity android:name="opengl.OpenGLES10Activity"
                  android:launchMode="singleInstance"
                  android:screenOrientation="portrait"/>
        <activity android:name="opengl.NewStoryActivity"
                  android:launchMode="singleInstance"
                  android:screenOrientation="portrait"/>
        -->
        <activity
            android:name="Search.SearchActivity"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="adjustNothing" />
    </application>

</manifest>